@{
  Layout = "_Layout";
}

@using PierresOrderTracker.Models;

<h1>@Model["vendor"].Name</h1>
<p>@Model["vendor"].Description<p>

<h1><u>@Model["order"].Title</u></h1>

<ul>
  <li>@Model["order"].Description</li>
  <li>$@Model["order"].Price</li>
  <li>@Model["order"].Date</li>
</ul>


<h5 id="toplink"><a href='/vendors/@Model["vendor"].Id'>Return to Orders</a></h5>
<h5><a href='/vendors'>Return to Vendors</a></h5>
<h5><a href='/'>Return Home</a></h5>

<form action='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id' method="post">
  <button type="submit" class="btn btn-danger">Delete this Order!</button>
</form>